{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Change password{% endblock %}</title>
</head>
<body>
{% block header %}
    <span style="border-bottom: #1757ae 1px solid;"> Password change</span>
{% endblock %}
{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <p>Old password:<br>
            {{ form.old_password }}</p>
        <p>New password:<br>
            {{ form.new_password1 }}</p>
        <p>Repeat new password:<br>
            {{ form.new_password2 }}</p>
    <input class="button" type="submit" value="Change password">
    </form>
{% endblock %}
</body>
</html>